@using RentBook.Models
@model Book 
@{ 
    ViewBag.Title = "BookDetail";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@*<div class="row">
    <div class="col-xs-12 col-md-8"></div>
    <div class="col-xs-12 col-md-8"></div>
    <div class="col-xs-6 col-md-4"></div>
    <div class="col-xs-6 col-md-4"></div>
    <div class="col-xs-6 col-md-4"></div>
    <div class="col-xs-6 col-md-4"></div>
</div>*@

<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<div class="row">
    <div class="col-xs-6 col-md-4"><img src="@Url.Content("~/Images/Book/" + Model.BookImage)" width="180" height="250"></div>
    <div class="col-xs-12 col-md-8"><h3>Book Detail</h3></div>
    <div class="col-xs-12 col-md-8"><h4>Name : @Model.BookName</h4></div>
    <div class="col-xs-12 col-md-8"><h4>Author : @Model.Author.AuthorName</h4></div>
    <div class="col-xs-12 col-md-8"><h4>Publisher : @Model.Publisher.PublisherName</h4></div>
    <div class="col-xs-12 col-md-8"><h4>Price : @Model.Price</h4></div>
    <div class="col-xs-12 col-md-8"><a class="btn btn-danger" href="#" title="add to cart"> Add to cart </a></div>
</div>

<!-- Columns are always 50% wide, on mobile and desktop -->
<div class="row">
    <div class="col-xs-6"><h3>Discription</h3></div>
    @*<div class="col-xs-6">.col-xs-6</div>*@
</div>
<div class="row">
    <div class="col-xs-12 col-md-12"><p>@Model.Description</p></div>
    </div>
