@model IEnumerable<RentBook.Models.Author>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AuthorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Auphone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuStory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuImage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Auphone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuStory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuImage)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AuthorID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AuthorID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AuthorID })
        </td>
    </tr>
}

</table>
