@using RentBook.Models
@model List<ItemGioHang>

@{
    ViewBag.Title = "Xem Giỏ Hàng";
    //Layout = "~/Views/Layout/GioHangLayout.cshtml";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="cart-items">
    <div class="in-check">
        <div class="container">
            @if (Model == null || Model.Count() == 0)
            {
                <p style="font-size:2em;padding:10px;margin:10px"> Giỏ hàng rổng !! </p>
                <a href="@Url.Action("Index","Home")" style="font-size:2em;padding:10px;margin:10px">    Vui lòng quay trở lại trang chủ để mua hàng !! </a>
            }
            else
            {
              <!-- Bootstrap styles -->

                <link href="~/Content/bootstrap.css" rel="stylesheet" />
                <!-- Customize styles -->

                <link href="~/Content/style.css" rel="stylesheet" />
                <!-- font awesome styles -->

                <link href="~/Content/font-awesome.css" rel="stylesheet" />



                <!--
                Body Section
                -->
                <div class="row">
                    <div class="span12">
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
                            <li class="active">Check Out</li>
                        </ul>
                        <div class="well well-small">
                            <h1>Check Out <small class="pull-right"> 2 Items are in the cart </small></h1>
                            <hr class="soften" />

                            <table class="table table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>BookName</th>
                                        <th>Unit price</th>
                                        <th>Delete </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td><img src="@Url.Content("~/Images/Book/" + item.BookImage)" style="height:150px;width:100px"></td>
                                            <td>@item.BookName</td>
                                            <td>@item.Price</td>
                                            <td><a>@Html.ActionLink("delete", "XoaGioHang", new { @BookID = item.BookID }@*, new { @class = "btn btn-danger" }*@)
                                                <span class="glyphicon glyphicon-trash"></span>
                                                    </a></td>
                                         </tr>
                                    }


                                    <tr>
                                        <td colspan="3" class="alignR">Total products:	</td>
                                        <td></td>

                                    </tr>
                                    }


                                </tbody>
                            </table><br />
                            @using (Html.BeginForm("DatHang", "GioHang"))
                            {
                                if (Session["user"] == null)
                                {
                                    <div class="MuaHang">
                                        <table align="center" class=" table">
                                            <tr>
                                            <tr>
                                                <td>Họ tên:</td>
                                                <td>
                                                    @Html.TextBox("TenKhachHang")
                                                    <p style="color:red;" id="TB_TenKH"></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Địa Chỉ:</td>
                                                <td>
                                                    @Html.TextBox("DiaChi")
                                                    <p style="color:red;" id="TB_DiaChi"></p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Email:</td>
                                                <td>
                                                    <input name="email" placeholder="nhập vào địa chỉ email" type="email" required class="Email">
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>Số Điện Thoại</td>
                                                <td>
                                                    @Html.TextBox("SoDienThoai")
                                                    <p style="color:red;" id="TB_Phone"></p>
                                                </td>
                                            </tr>

                                        </table>
                                    </div>
                                }
                                <div class="table-responsive" style=" text-align:left;padding:10px">
                                    <input type="submit" value="Đặt Hàng" class=" btn btn-success" id="btnDatHang">
                                    @Html.ActionLink("Mua Tiếp", "Index", "Home", new { @class = "btn btn-danger" })
                                </div>

                            }



                        </div>
                    </div>
                </div>
                <!--
                Clients
                -->
                <script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
                <script src="~/Scripts/bootstrap.min.js"></script>
                <script src="~/Scripts/jquery.easing-1.3.min.js"></script>
                <script src="~/Scripts/jquery.scrollTo-1.4.3.1-min.js"></script>
                <script src="~/Scripts/shop.js"></script>
            }
        </div>
    </div>
</div>


@*kiểm tra validition thông qua jquyre*@
<script>
    $("#btnDatHang").click(function () {
        var loi = 0;
        if ($("#TenKhachHang").val() == "") {
            $("#TB_TenKH").text("không để trống trường này");
            loi++;
        }
        else {
            $("#TB_TenKH").text("");
        }
        if ($("#DiaChi").val() == "") {
            $("#TB_DiaChi").text("không để trống trường này");
            loi++;
        }
        else {
            $("#TB_DiaChi").text("");
        }
        if ($("#SoDienThoai").val() == "") {
            $("#TB_Phone").text("không để trống trường này");
            loi++;
        }
        else {
            $("#TB_Phone").text("");
        }
        if (loi != 0) {
            return false;
        }

    });


</script>



