@model IEnumerable<RentBook.Models.BorrowBook>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BorrowDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OderTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.CusName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BorrowDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OderTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.CusName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BorrowBookID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BorrowBookID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BorrowBookID })
        </td>
    </tr>
}

</table>
